@model (string UserID, string ErrUserID, string Password, string ErrPassword);
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login page";
}

<div class="container-fluid">
    <div class="row mh-100vh">
        <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0"
             id="login-block">
            <div class="m-auto w-lg-75 w-xl-50">
                <div style="display: flex; margin-bottom:30px">
                    <img style="height: 60px; margin-right: 5px" src="~/image/logo.png" />
                    <h1>outine</h1>
                </div>
                <form method="post">
                    <div class="form-group">
                        <label class="text-secondary">Username</label>
                        <input asp-for="@Model.UserID" name="UserID" class="form-control" type="text" required="">
                        <span class="text-danger">@Model.ErrUserID</span>
                    </div>
                    <div class="form-group">
                        <label class="text-secondary">Password</label>
                        <input asp-for="@Model.Password" name="Password" class="form-control" type="password" required="">
                        <span class="text-danger">@Model.ErrPassword</span>
                    </div>
                    <button asp-action="LoginToPage" class="btn btn-info mt-2" type="submit">Log In</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-end" id="bg-block"
             style="background-image: url('/image/loginBg.jpg'); background-size: cover; background-position: center center;">
        </div>
    </div>
</div>