.presentacion {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}

.presentacion .logo {
  width: 150px;
  margin: auto;
}

.presentacion .logo img {
  width: 100%;
}

.presentacion h2 {
  text-align: center;
}

.filter select {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px #aaa;
  margin: 10px;
  background: #eee;
}

.filter {
  text-align: center;
}

.filter input {
  width: 60%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #eee;
}

* {
  outline: none;
}

.wrapper {
  margin-top: 20px;
  margin: 20px auto;
}

.product {
  box-shadow: 1px 1px 3px 1px #b0b0b0;
  border-radius: 3px;
  padding-bottom: 20px;
}

.product-image {
  position: relative;
  margin-top: 20px;
  height: 650px;
  width: 100%;
  overflow: hidden;
}

.product-image .image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.product-thumbnails {
  margin-top: 30px;
}

.product-thumbnails img {
  opacity: 1;
  border-radius: 0;
  cursor: pointer;
  position: relative;
}

.product-thumbnails img:hover {
  cursor: pointer;
  opacity: 1;
}

.product-details {
  margin-top: 30px;
}

.product-details p {
  margin-top: 20px;
}

.infor-right {
  padding: 20PX;
  flex: 3.5;
}

.infor-right .price-box {
  margin-bottom: 30px;
  border-top: 1px solid rgba(139,136,133,0.5);
  border-bottom: 1px solid rgba(139,136,133,0.5);
}

.infor-right .price-box .price {
  font-size: 26PX;
  font-style: normal;
}

.infor-right .infor-detail {
  line-height: 20px;
  margin-bottom: 30px;
}

.infor-right .infor-detail .box-gray {
  position: relative;
  max-width: 100%;
  background: #fff;
}

.infor-right .infor-detail .box-gray .inventory, .infor-right .infor-detail .box-gray .product-code {
  padding-left: 20px;
}

.infor-right .infor-detail .box-gray .inventory span, .infor-right .infor-detail .box-gray .product-code span {
  transform: skew(15deg);
}

.infor-right .infor-detail .box-gray .inventory p, .infor-right .infor-detail .box-gray .product-code p {
  transform: skew(15deg);
}

.infor-right .infor-detail .box-gray .product-code span, .infor-right .infor-detail .box-gray .product-code p {
  margin-left: 5px;
}

.infor-right .infor-detail .box-gray .producer, .infor-right .infor-detail .box-gray .product-type {
  padding-left: 20px;
}

.infor-right .infor-detail .box-gray .producer span, .infor-right .infor-detail .box-gray .product-type span {
  transform: skew(-15deg);
}

.infor-right .infor-detail .box-gray .producer p, .infor-right .infor-detail .box-gray .product-type p {
  transform: skew(-15deg);
}

.infor-right .infor-detail .box-gray .producer span, .infor-right .infor-detail .box-gray .producer p {
  margin-left: 5px;
}

.infor-right .infor-detail .box-gray span, .infor-right .infor-detail .box-gray p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #546081;
}

.infor-right .infor-detail .box-gray p {
  font-weight: 600;
  position: absolute;
  left: 160px;
  color: #333;
}

.infor-right .infor-detail .o1 {
  margin-top: 10px;
  padding: 10px 25px 0;
  transform: skew(-15deg);
  border-top: 2px solid rgba(143,134,127,0.5);
  border-right: 2px solid rgba(143,134,127,0.5);
  border-left: 2px solid rgba(143,134,127,0.5);
}

.infor-right .infor-detail .o2 {
  margin-bottom: 10px;
  padding: 0 25px 10px;
  transform: skew(15deg);
  border-right: 2px solid rgba(143,134,127,0.5);
  border-bottom: 2px solid rgba(143,134,127,0.5);
  border-left: 2px solid rgba(143,134,127,0.5);
}

.infor-right .infor-detail .add-to-box {
  line-height: 24px;
  margin-top: 30px;
}

.infor-right .infor-detail .add-to-box .amount .btn {
  font-size: 20px;
  width: 40PX;
  padding: 8px 10px 8px 10px;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  vertical-align: -2px;
  color: #333;
  border: 1px #eaeaea solid;
  background-color: #f5f5f5;
}

.infor-right .infor-detail .add-to-box .amount .btn:hover {
  cursor: pointer;
  border: 1px solid #978677;
}

.infor-right .infor-detail .add-to-box .amount input {
  display: inline-block;
  width: 100PX;
  height: 42px;
  margin-right: 0;
  text-align: center;
  color: #aaa;
  border: 1px #e1e1e1 solid;
}

.infor-right .infor-detail .add-to-box .btn-add-to-cart {
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-left: 100PX;
  padding: 9px 20px;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  color: #333;
  border: 1px solid rgba(143,134,127,0.5);
  background: #FFF;
  text-shadow: none;
}

.infor-right .infor-detail .add-to-box .btn-add-to-cart span {
  font-weight: 400;
  margin-left: 5px;
  text-transform: uppercase;
  background: none;
}

.infor-right .infor-detail .add-to-box .btn-add-to-cart:hover {
  cursor: pointer;
  border: 1px solid #978677;
}

.infor-right .infor-detail .short-description {
  margin-top: 20px;
}

.infor-right .infor-detail .short-description p {
  font-size: 14px;
}

.flex {
  display: flex;
}

.inventory span {
  color: #333;
}

.infor-right .infor-detail .size-product .btn {
  font-size: 16px;
  margin-left: 5px;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  color: #333;
  border: 1px solid rgba(143,134,127,0.5);
  background: #FFF;
}

.infor-right .infor-detail .size-product .btn:hover {
  cursor: pointer;
  border: 1px solid #978677;
}



.onSuggestion{
   display: block;
}

.offSuggestion{
   display: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

input {
	border: none;
	outline: none;
	background: none;
}

button {
	border: none;
	outline: none;
	background: none;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.flex {
	display: flex;
}

.d-block {
	display: block;
}

.j-between {
	justify-content: space-between;
}

.j-end {
	justify-content: flex-end;
}

.j-start {
	justify-content: flex-start;
}

.j-around {
	justify-content: space-around;
}

.j-center {
	justify-content: center;
}

.a-center {
	align-items: center;
}

.a-stretch {
	align-items: stretch;
}

.a-start {
	align-items: flex-start;
}

.a-end {
	align-items: flex-end;
}

.a-baseline {
	align-items: baseline;
}

.t-center {
	text-align: center;
}

.t-left {
	text-align: left;
}

.t-right {
	text-align: right;
}

.t-justify {
	text-align: justify;
}

.product {
	margin-top: 40px;
   margin-bottom: 40px;
}

.product .container .product-content h3{
	text-align: center;
   margin-bottom: 10px;
}

.product .container .product-content{
	border: 1px solid #dee2e6;
   padding: 20px 100px;
}

.product .container .product-content form{
	border: 1px solid #dee2e6;
   border-radius: 10px;
   padding: 20px 100px;
   box-shadow: 3px 6px 3px 6px #d6d2d2;
}

.product .container .product-content .form-control {
	width: 50%;
}

.product .container .product-content .filter-by-content {
	border-bottom: 1px dashed #333;
}

.product .container .product-content .filter-by-content .tiltle-filter-by h3 {
	font-size: 16px;
}

.product .container .product-content .filter-by-content .tiltle-filter-by p {
	font-size: 16px;
	color: red;
}

.product .container .product-content .filter-by-content .tiltle-filter-by p:hover {
	cursor: pointer;
	color: #e09494;
}

.product .container .product-content .filter-by-content .list-filter-by li {
   border: 1px solid transparent;
   border-radius: 10px;
   border-color: rgb(121, 120, 120);
   background:transparent;
   padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	color: #333;
}

.product .container .product-content .filter-by-content .list-filter-by li img {
	max-width: 16px;
   margin-top: -3px;
}

.product .container .product-content .filter-by-content .list-filter-by li img:hover {
	cursor: pointer;
	transform: scale(1.2);
}

.product .container .product-content .product-filter .list-item-filter-chose {
	position: relative;
}

.product .container .product-content .product-filter .list-item-filter-chose p{
   font-size:20px;
}

.product .container .product-content .product-filter .list-item-filter-chose .item-filter-chose {
	width: 150px;
   padding: 10px;
   padding-bottom: 5px;
	cursor: pointer;
   border-radius: 10px;
	border: 1px solid #333;
	background-color: white;
   align-items: center;
}

.product .container .product-content .product-filter .list-item-filter-chose .item-filter-chose::after {
	font-family: 'FontAwesome';
	font-size: 2.3rem;
	position: absolute;
   margin-top: -12px;
   right: 20px;
	display: block;
	content: '\f0d7';
	color: #333;
}


.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters {
	position: absolute;
	z-index: 100;
   /* bottom: 50px; */
	width: 150px;
	padding: 10px;
   margin-top: 10px;
	cursor: pointer;
	transform: translateY(-9px);
	border: 1px solid #333;
	border-radius: 5px;
	background-color: white;
}

.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters li {
	font-size: 1.2rem;
	position: relative;
	padding: 5px;
	padding-left: 30px;
}

.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters li:hover {
	transform: translateY(1px);
	color: palevioletred;
}

.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters li::before {
	position: absolute;
	bottom: 11px;
	left: -10px;
	display: block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	content: ' ';
	border: 1px solid #333;
	border-radius: 3px;
}

.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters li::after {
	position: absolute;
	z-index: 100;
	bottom: 11px;
	left: -10px;
	display: none;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	content: ' ';
	border: 1px solid #ff7600;
	border-radius: 3px;
	background-color: #ff7600;
	background-image: url(https://bizweb.dktcdn.net/100/368/970/themes/740033/assets/checked_filter.png?1580806875262);
	background-repeat: no-repeat;
}

.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters .active::before {
	display: none;
}

.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters .active::after {
	display: block;
}

.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters .noActive::before {
	display: block;
}

.product .container .product-content .product-filter .list-item-filter-chose .list-suggestion-filters .noActive::after {
	display: none;
}



