<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Buyer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/fonts/font-awesome.min.css" />*@
    <link rel="stylesheet" href="~/fonts/fontawesome-free-5.15.3-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css" rel="stylesheet">
    @RenderSection("CSS", required: false)
</head>
<body>
    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="~/Home/Index">Routine</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="~/Home/Index">Home</a></li>
                    </ul>
                    @*<form class="form-inline mr-auto" target="_self">
                        <div class="form-group">
                            <label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search">
                        </div>
                    </form>*@
                    <a class="btn btn-light action-button" role="button" href="~/Login/Index?UserIDLogOut=@TempData["UserID"]">Log Out</a>
                </div>
            </div>
        </nav>
    </div>

    @RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Buyer - IT Development -@DateTime.Now.ToString()
    </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    @*<script src="~/js/bootstrap-select.js"></script>*@
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
